.main-bg {
	height: 500px;
	width: 100%;
	background-size: cover;
}
.App {
	text-align: center;
}
.mb20 {
	margin-bottom: 20px;
}
.mt20 {
	margin-top: 20px;
}
.fb {
	display: flex;
	justify-content: space-between;
	list-style: none;
	padding-left: 0;
}
nav {
	display: flex;
	justify-content: space-between;
}
nav h1 {
	padding-left: 50px;
}
nav .menu {
	list-style: none;
	display: flex;
	padding-right: 50px;
}
nav .menu li {
	padding: 0 20px;
}

.detailCard {
	display: flex;
	padding: 50px 100px;
}
.imgWrap {
	padding-right: 30px;
}
.info {
	text-align: left;
}
h4 {
	font-size: 20px;
}
p {
	color: #bbb;
}
button {
	margin-top: 50px;
	background: #000;
	color: #fff;
	padding: 10px 30px;
	border: none;
	border-radius: 30px;
}
.price {
	font-size: 18px;
	color: black;
	font-weight: bold;
}
a {
	text-decoration: none;
	color: black;
}
.alert {
	background: #ddd;
	padding: 10px;
}
.user {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.user li {
	width: 30%;
	margin: 10px;
	padding: 20px;
	box-sizing: border-box;
	background: #b2d8ff;
}
.tabs {
	display: flex;
	justify-content: center;
}
.tabs .item {
	width: 200px;
	padding: 20px 0;
	text-align: center;
	background: #06c;
	color: #fff;
	margin: 0 5px;
	border-radius: 20px 0 0 0;
	cursor: pointer;
}
.tabBox {
	background: #ddd;
	padding: 20px;
	box-sizing: border-box;
	width: 800px;
	text-align: left;
	margin-left: 50%;
	transform: translateX(-50%);
	height: 300px;
	margin-bottom: 50px;
}
.start {
	opacity: 0;
}
.end {
	opacity: 1;
}
.transition {
	transition: 1s ease-out;
}